.product-wrap {
    display: flex;
    flex-direction: column;
}

.product-img {
    display: flex;
    justify-content: space-between;
}

.product-img .secondary-img {
    width: 10%;
}

.product-img .main-img {
    width: 88%;
    position: relative;
    display: flex;
    align-items: center;
}

.product-img .secondary-img .img,
.product-img .main-img .carousel {
    width: 100%;
    position: relative;
    padding-top: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;

}

#carouselControls {
    border-radius: 5px;
}

.product-img .secondary-img img{
    /* 控制小圖滑鼠顯示小指頭 */
    cursor: pointer;
}

.product-img .secondary-img img,
.product-img .main-img .carousel .carousel-inner {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-img .main-img .carousel .carousel-inner .carousel-item{
    height: 100%;
}

.product-img .carousel-item img {
    width: 100%;
    border-radius: 5px;
}

.product-description {
    flex-grow: 1;
}

.product-description h2 {
    /* 自選小塔禮盒顏色、字體大小 */
    color: #303030;
    font-size: 18px;
    font-weight: bold;
}

.product-description .dolar {
    display: block;
    /* 金額顏色、字體大小 */
    color: #808080;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.product-description p {
    /* 產品描述內容(任選4個拼成一盒那裏)顏色、字體大小 */
    color: #808080;
    font-size: 13px;
}

.product-description p>span {
    display: block;
    padding-bottom: 5px;
}

.product-order-info {
    margin-bottom: 20px;
}

.product-order-info .product-count,
.product-order-info .product-taste {
    display: flex;
    align-items: center;
    /* 數量口味選擇區，顏色、字體大小 */
    color: #303030;
    font-size: 14px;
    padding-bottom: 10px;

}

.product-order-info select {
    padding: 3px;
    width: calc(22% - 10px);
}

.product-order-info .product-taste select+select {
    margin-left: 10px;
}

.product-order-info span {
    width: 12%;
}

.product-order-info select,
.product-order-info select option {
    /* 選項顏色、字體大小 */
    color: #303030;
    font-size: 14px;
}


.product-order {
    margin-bottom: 18px;
}

.product-order button {
    width: 100%;
    border: none;
    padding: 8px 0;
    border-radius: 5px;
}

.product-order button:hover {
    /* 按鈕hover後的顏色 */
    background-color: #ccc;
}

.product-introduction h2 {
    /* 底下商品介紹顏色、字體大小 */
    font-size: 18px;
    color: #303030;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #eee;
}

.product-introduction ul {
    margin-left: 0;
    padding-left: 1.5em;
}

.product-introduction ul li h3 {
    font-size: 13px;
    margin: 0;
    padding: 2px;
}

.product-introduction ul li {
    position: relative;
    /* 下方敘述清單商品顏色、字體大小 */
    font-size: 13px;
    color: #303030;
}

.product-introduction ul li:first-of-type::before {
    /* 彌月禮盒菱形顏色 */
    background-color: orange;
}

.product-introduction ul li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    /* 下方清單菱形顏色 */
    background-color: #000;
    margin-left: -19px;
    margin-top: 6px;
    transform: rotate(45deg);
}

