@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
html{
    scroll-behavior: smooth;
}
body {
    padding-top: 70px;
    padding-bottom: 13.33333333333333%;
    font-family: "Noto Sans TC", sans-serif;
   
}

.container {
    width: 100%;
    min-width: 90%;
    margin: auto;
}


/* ---導覽列(header)--- */
.header-full {
    background-color: #F36518;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}

.header-content .header-title a {
    display: block;
    /* 我不確定行動裝置的title 是要求固定寬度，還是照比例縮放  */
    /* width: 90%; */
    width: 300px;
    margin: auto;
}

.header-title span,
.header-content nav h2,
.kv-title span,
.mission-title span,
.board-title span {
    position: absolute;
    font-size: 1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.header-content nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.header-content nav ul {
    display: flex;
}

.header-content nav ul li {
    width: 33.3333%;
    height: 9.821428571428571%;
}

.header-content nav ul li:nth-child(1) {
    background-color: #00A79B;
}

.header-content nav ul li:nth-child(2) {
    background-color: #00A79B;
}

.header-content nav ul li:nth-child(3) {
    background-color: #FF5E79;
}

.header-content nav ul li a {
    font-size: 0;
    width: 100%;
    display: block;
}

/* ---主視覺區塊--- */

.kv-full {
    width: 100%;
    height: 0;
    padding-bottom: 149.3333333333333%;
    /* 第一張圖，我不確定實際要的效果要做在left 還是center ，可能要做出來再跟設計師對稿 */
    background: url(../img/Body_BgPoint_repeat.png) repeat left bottom/300px,
        url(../img/KV_Bgimage-xs.png) no-repeat center bottom/100px;
    background-color: #5845A1;
    position: relative;
}

.kv-full .rock-img,
.kv-full::before,
.kv-full::after {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.kv-full .rock-img {
    width: 20%;
    z-index: 1;
}

.kv-full::before {
    content: '';
    background: url(../img/KV_RocketCloud_repeat.png) repeat-x center bottom/100%;
    height: 18.75%;
}

.kv-full::after {
    content: '';
    background: url(../img/KV_RocketCloudWhite_repeat.png) repeat-x center bottom/100%,
        url(../img/KV_Rocket.png) no-repeat center bottom/20%;
    height: 38.75%;
    z-index: 1;
}

.kv-content {
    position: fixed;
    top: 70px;
    height: 560px;
}

.kv-content .kv-title {
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    margin-bottom: 20px;
}

.kv-content .kv-title picture {
    display: block;
    width: 100%;
}

.kv-gifts {
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

.kv-gifts .kv-gift a {
    display: block;
    border-radius: 100px;
}

.kv-gifts .kv-gift a:hover {
    position: relative;
    z-index: 1;
}

.kv-gift-coco,
.kv-gift-stick {
    width: 37.33333333333333%;
}

.kv-gift-shark,
.kv-gift-brick {
    width: 48%;
    transform: translateY(-20%);
    order: 1;
}

/* ---任務區塊--- */
.board-full,
.mission-full {
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.mission-content .mission-title {
    width: 90%;
    height: 21.30177514792899%;
    margin: auto;
    scroll-margin-top: 70px;
}

.mission-content .mission-title picture {
    display: block;
    width: 100%;
    height: 100%;
}

.mission-content .mission-title picture img {
    height: 100%;
}

.mission-content p {
    width: 90%;
    text-align: center;
    margin: auto;
    line-height: 1.4069;
    margin-bottom: 2.958579881656805%;
}

.mission-content p span {
    display: block;
    font-size: 16px;
}

.mission-content .mission-paragraph {
    width: 90%;
    margin: auto;
}

.mission-content .mission-paragraph>* {
    display: block;
    width: 100%;
    margin-bottom: 15.75px;
}


.mission-content>span {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 2.958579881656805%;
    text-align: center;
    font-size: 12px;
}

.mission-content>a {
    display: block;
    width: 90%;
    margin: auto;
}

/* ----------- */

.board-full {
    padding: 26.9% 0 50%;
    background: url(../img/Mission_TopClould_repeat.png)no-repeat top center/100%, url(../img/Mission_BgimageTop-xs.png) no-repeat top center/100%, url(../img/Notice_Bgimage-xs.png) no-repeat bottom center/100%,
    url(../img/Body_BgPoint_repeat.png) repeat left bottom/300px;
    background-color: #5845A1;

}

.board-content .board-title {
    width: 90%;
    /* height: 90px; */
    margin: auto;
    scroll-margin-top: 70px;


}

.board-content .board-title picture {
    display: block;
    width: 100%;
    height: 100%;
}

.board-lists {
    width: 100%;
    background: url(../img/Mission_BgimageBody_repeat-xs.png) repeat-y center 0px /100%;

}

.board-list {
    width: 90%;
    margin: auto;
    aspect-ratio: 1/1;
}

.board-list a {
    display: block;
    width: 100%;
    position: relative;
}

.board-list a>* {
    position: absolute;
    top: 0;

}

.board-list a .Hover-pic {
    display: none;
}

.board-list a:hover .Hover-pic {
    display: block;
}

.board-content>a {
    display: block;
    width: 90%;
    margin: auto;
}


/* ---footer--- */


.footer-full {
    /* background-color: #DEDEDE; */
    background-color: #717171;
    padding: 30px 0 45px;
    position: relative;
    z-index: 1;
}

.footer-content {
    width: 90%;
}

.footer-content .footer-title {
    color: #DEDEDE;
    font-size: 30px;
    text-align: center;
    margin: auto;
    line-height: 2;
}

.footer-content .footer-title span:first-of-type {
    margin-right: 1em;
}

.footer-content .footer-paragraph {
    color: #DEDEDE;
    font-size: 18px;
    text-align: center;
    margin: auto;
    line-height: 1.5;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #DEDEDE;
}

.footer-content .footer-paragraph span {
    display: block;
}

.footer-content>span {
    display: block;
    text-align: center;
    color: #feda00;
    font-size: 22px;
}